header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
}

.js-clock {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bad Script", cursive;
  border-bottom: 10px;
  padding-left: 25px;
}

.realTimeDate {
  margin: 0px;
}

.realTimeClock {
  margin: 0px;
  margin-left: 10px;
  border: 0px;
}

.realTimeWeather {
  margin: 0;
}

.js-toDoBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toDoForm {
  margin: 0;
  border: 0;
  margin-bottom: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.title {
  font-family: "Bad Script", cursive;
  margin-top: 0;
}

input {
  border: 0px;
  outline: none;
  border: 1px solid #a5acb1;
  height: 40px;
  width: 350px;
  text-align: center;
  border-radius: 15px;
  font-size: 20px;
  font-family: "Gaegu", cursive;
}

input::placeholder {
  font-size: 20px;
  font-family: "Gaegu", cursive;
  text-align: center;
  text-justify: center;
  color: #a5acb1;
}

.weatherImg {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

[tooltip-text]:hover {
  position: relative;
}

[tooltip-text]:hover::after {
  content: attr(tooltip-text);
  white-space: pre;

  position: absolute;
  left: 100%;
  top: 30%;

  padding: 12px;
  border-radius: 15px;

  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  font-size: 17px;
  font-family: "Gaegu", cursive;

  z-index: 9999;
}
