@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Hi+Melody&family=Lobster+Two&display=swap');
@import "clock.css";
@import "toDoList.css";


body{
    background-color: #FCF5E3;
    margin-top:80px;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}