@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Gaegu:wght@300&display=swap");
@import "clock.css";
@import "todo.css";

* {
  box-sizing: border-box;
}

body {
  /*background-color: #fff9ea;*/
  height: 100%;
  width: 100%;
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
