body{
    background-color: #FCF5E3;
    margin-top:80px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.toDoBoard{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.js-toDo{
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.js-toDoList{
    list-style: none;
    border-left:0;
}

.js-clock{
    display:flex;
}

.realTimeDate{
    margin:0px;
    border-bottom: 10px;
}

.realTimeClock{
    margin:0px;
    margin-left: 10px;
    border:0px;
    text-align: center;
}

input {
    border:0px;
    outline:none;
    height: 40px;
    width: 300px;
    text-align: center;
    border-radius: 15px;
}

li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

input[type=checkbox] {
	display: none;
}

.checkBox{
    width:30px;
    height:30px;
    border-radius: 15px;
    background-color:#333;
    border:10px solid #bcbcbc;
    position: relative;
}

.delBtn{
    margin-left:15;
}
