main {
  width: 370px;
  height: 350px;
  position: relative;
  top: 80px;
  padding-top: 20px;
  border-radius: 20px;
  overflow: auto;
  background: #f3f3f3;
}

main > ul {
  list-style: none;
  border: 100px, 0;
  padding-inline-start: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul > li {
  margin-bottom: 22px;
  padding-bottom: 3px;
  border-bottom: solid 1px rgb(209, 209, 177);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  position: relative;
}

li > i {
  font-size: 30px;
  color: #92999e;
}

li > i:hover {
  color: #5f6266;
}

li > .fa-check-circle {
  color: #ff946d;
  font-size: 28px;
}

li > .fa-check-circle:hover {
  color: #ff7340;
}

li > .fa-trash-alt {
  font-size: 20px;
}

li > span {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 23px;
  font-family: "Gaegu", cursive;
}

li > .checked {
  text-decoration: line-through;
  font-style: italic;
  font-size: 20px;
  color: #606060;
}

.state {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.state > .js-btn {
  display: flex;
}

.js-btn > .all {
  color: rgb(153, 153, 153);
  font-family: "Gaegu", cursive;
  font-size: 15px;
  padding: 10px 10px 25px 10px;
}

.js-btn > .all:hover {
  cursor: pointer;
}

.state > .js-count {
  font-family: "Gaegu", cursive;
  font-size: 20px;
}
